{% extends 'base.html' %}

{% block content %}


<h1>Posts</h1>
<h3>Check this out!</h3>
<ul>
    {% for post in object_list %}


    <li><a href="{% url 'details' post.pk %}" class="btn btn-link"> {{ post.title }} </a> -<a
            href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
        {{post.post_date }} -
        {{ post.author.username }}
        {{ post.author.last_name }}

        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}

        <a href="{% url 'update_post' post.pk %}">Edit</a>
        <a href="{% url 'delete_post' post.pk %}">Delete</a>
        {% endif %}
        {% endif %}

        {{ post.snippet }}
        ...




    </li>
    {% endfor %}
</ul>


{% endblock %}